</head>

<body>
    <header>
        <h1>
            <a href="/">GameHub</a>
        </h1>

        <nav>
            <ul>
                <% //loop for nav %>
                <%  for(let game of games){ %>
                <li>
                    <a href="/game/<%= game.name %> "><%= game.title %> </a>
                </li>
                <% } %> 
                <!-- 
            <li>
          <a href="/game/fourchette">Jeu de la Fourchette</a>
        </li>
        <li>
          <a href="/game/diceRoller">Dice Roller</a>
        </li> -->
            </ul>
        </nav>

    </header>