<%- include ("partials/headers.ejs") %>

<title>GameHub</title>
<link rel="stylesheet" href="/css/style.css">

<%- include ("partials/nav.ejs") %>

<main>
  <h3>Index</h3>
</main>

<footer>

</footer>
</body>

</html>